@font-face {
  font-family: 'simfazfonts';
  src:  url('../fonts/simfazfonts.eot?ukwvrf');
  src:  url('../fonts/simfazfonts.eot?ukwvrf#iefix') format('embedded-opentype'),
    url('../fonts/simfazfonts.ttf?ukwvrf') format('truetype'),
    url('../fonts/simfazfonts.woff?ukwvrf') format('woff'),
    url('../fonts/simfazfonts.svg?ukwvrf#simfazfonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sf {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'simfazfonts' !important;
  display: inline-block;
  speak: none;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-rendering: auto;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sf-kml-file-format-interface:before {
  content: "\e900";
}
.sf-pencil-rounded-fill:before {
  content: "\f110";
}
.sf-trash:before {
  content: "\f118";
}
.sf-rel-diagnostico:before {
  content: "\f11e";
}
.sf-download:before {
  content: "\f10b";
}
.sf-plus-rounded-fill:before {
  content: "\f10a";
}
.sf-arrow-left:before {
  content: "\f11a";
}
.sf-world-coordinate:before {
  content: "\f123";
}
.sf-arrow-down:before {
  content: "\f108";
}
.sf-gear:before {
  content: "\f122";
}
.sf-location-plane:before {
  content: "\f120";
}
.sf-exclude-rounded-fill:before {
  content: "\f10c";
}
.sf-calendar:before {
  content: "\f10e";
}
.sf-measure:before {
  content: "\f105";
}
.sf-file-add:before {
  content: "\f10d";
}
.sf-arrow-right:before {
  content: "\f109";
}
.sf-increase-chart:before {
  content: "\f126";
}
.sf-profile:before {
  content: "\f121";
}
.sf-polygon:before {
  content: "\f11d";
}
.sf-minus-rounded-fill:before {
  content: "\f107";
}
.sf-server:before {
  content: "\f114";
}
.sf-border-corner:before {
  content: "\f101";
}
.sf-search-location:before {
  content: "\f129";
}
.sf-dashboard:before {
  content: "\f11c";
}
.sf-info:before {
  content: "\f104";
}
.sf-search-rounded-fill:before {
  content: "\f111";
}
.sf-rel-monitoramento:before {
  content: "\f115";
}
.sf-north:before {
  content: "\f100";
}
.sf-measure-square:before {
  content: "\f103";
}
.sf-search-file:before {
  content: "\f106";
}
.sf-file-pdf:before {
  content: "\f113";
}
.sf-velocimeter:before {
  content: "\f119";
}
.sf-refresh:before {
  content: "\f116";
}
.sf-rel-socioambiental:before {
  content: "\f112";
}
.sf-eraser:before {
  content: "\f128";
}
.sf-help-rounded:before {
  content: "\f125";
}
.sf-building:before {
  content: "\f11b";
}
.sf-strip-list:before {
  content: "\f124";
}
.sf-bell-alert:before {
  content: "\f11f";
}
.sf-change-profile:before {
  content: "\f102";
}
.sf-window:before {
  content: "\f127";
}
.sf-cpf-search-1:before {
  content: "\e909";
}
.sf-geo-search-1:before {
  content: "\e90a";
}
.sf-pastagem:before {
  content: "\e908";
}
.sf-algodao:before {
  content: "\e901";
}
.sf-cana:before {
  content: "\e902";
}
.sf-eucalipto:before {
  content: "\e903";
}
.sf-milho:before {
  content: "\e904";
}
.sf-milho2:before {
  content: "\e905";
}
.sf-soja:before {
  content: "\e906";
}
.sf-citros:before {
  content: "\e907";
}
.sf-cafe:before {
  content: "\e90e";
}
.sf-home:before {
  content: "\e90d";
}
.sf-home2:before {
  content: "\e90f";
}
.sf-home3:before {
  content: "\e910";
}
.sf-image:before {
  content: "\e911";
}
.sf-copy:before {
  content: "\e92c";
}
.sf-paste:before {
  content: "\e92d";
}
.sf-stack:before {
  content: "\e92e";
}
.sf-location:before {
  content: "\e947";
}
.sf-location2:before {
  content: "\e948";
}
.sf-compass:before {
  content: "\e949";
}
.sf-compass2:before {
  content: "\e94a";
}
.sf-map:before {
  content: "\e94b";
}
.sf-map2:before {
  content: "\e94c";
}
.sf-history:before {
  content: "\e94d";
}
.sf-display:before {
  content: "\e956";
}
.sf-laptop:before {
  content: "\e957";
}
.sf-mobile:before {
  content: "\e958";
}
.sf-mobile2:before {
  content: "\e959";
}
.sf-floppy-disk:before {
  content: "\e962";
}
.sf-drive:before {
  content: "\e963";
}
.sf-database:before {
  content: "\e964";
}
.sf-user:before {
  content: "\e971";
}
.sf-users:before {
  content: "\e972";
}
.sf-user-plus:before {
  content: "\e973";
}
.sf-user-minus:before {
  content: "\e974";
}
.sf-user-check:before {
  content: "\e975";
}
.sf-user-tie:before {
  content: "\e976";
}
.sf-search:before {
  content: "\e986";
}
.sf-zoom-in:before {
  content: "\e987";
}
.sf-zoom-out:before {
  content: "\e988";
}
.sf-enlarge:before {
  content: "\e989";
}
.sf-shrink:before {
  content: "\e98a";
}
.sf-wrench:before {
  content: "\e991";
}
.sf-equalizer:before {
  content: "\e992";
}
.sf-equalizer2:before {
  content: "\e993";
}
.sf-cog:before {
  content: "\e994";
}
.sf-cogs:before {
  content: "\e995";
}
.sf-pie-chart:before {
  content: "\e99a";
}
.sf-stats-dots:before {
  content: "\e99b";
}
.sf-stats-bars:before {
  content: "\e99c";
}
.sf-stats-bars2:before {
  content: "\e99d";
}
.sf-leaf:before {
  content: "\e9a4";
}
.sf-meter:before {
  content: "\e9a6";
}
.sf-meter2:before {
  content: "\e9a7";
}
.sf-truck:before {
  content: "\e9b0";
}
.sf-road:before {
  content: "\e9b1";
}
.sf-target:before {
  content: "\e9b3";
}
.sf-list-numbered:before {
  content: "\e9b9";
}
.sf-list:before {
  content: "\e9ba";
}
.sf-list2:before {
  content: "\e9bb";
}
.sf-sphere:before {
  content: "\e9c9";
}
.sf-earth:before {
  content: "\e9ca";
}
.sf-eye:before {
  content: "\e9ce";
}
.sf-eye-plus:before {
  content: "\e9cf";
}
.sf-eye-minus:before {
  content: "\e9d0";
}
.sf-eye-blocked:before {
  content: "\e9d1";
}
.sf-loop2:before {
  content: "\ea2e";
}
.sf-file-pdf2:before {
  content: "\eadf";
}
.sf-logo-simfaz:before {
  content: "\e90b";
}
.sf-logo-simfaz-2:before {
  content: "\e90c";
}
