@import "variables";

@font-face {
  font-family: 'simfazfonts';
  src:  url('#{$icomoon-font-path}/simfazfonts.eot?tam77t');
  src:  url('#{$icomoon-font-path}/simfazfonts.eot?tam77t#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/simfazfonts.ttf?tam77t') format('truetype'),
    url('#{$icomoon-font-path}/simfazfonts.woff?tam77t') format('woff'),
    url('#{$icomoon-font-path}/simfazfonts.svg?tam77t#simfazfonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sf {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'simfazfonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sf-kml-file-format-interface {
  &:before {
    content: $sf-kml-file-format-interface; 
  }
}
.sf-pencil-rounded-fill {
  &:before {
    content: $sf-pencil-rounded-fill; 
  }
}
.sf-trash {
  &:before {
    content: $sf-trash; 
  }
}
.sf-rel-diagnostico {
  &:before {
    content: $sf-rel-diagnostico; 
  }
}
.sf-download {
  &:before {
    content: $sf-download; 
  }
}
.sf-plus-rounded-fill {
  &:before {
    content: $sf-plus-rounded-fill; 
  }
}
.sf-arrow-left {
  &:before {
    content: $sf-arrow-left; 
  }
}
.sf-world-coordinate {
  &:before {
    content: $sf-world-coordinate; 
  }
}
.sf-arrow-down {
  &:before {
    content: $sf-arrow-down; 
  }
}
.sf-gear {
  &:before {
    content: $sf-gear; 
  }
}
.sf-location-plane {
  &:before {
    content: $sf-location-plane; 
  }
}
.sf-exclude-rounded-fill {
  &:before {
    content: $sf-exclude-rounded-fill; 
  }
}
.sf-calendar {
  &:before {
    content: $sf-calendar; 
  }
}
.sf-measure {
  &:before {
    content: $sf-measure; 
  }
}
.sf-file-add {
  &:before {
    content: $sf-file-add; 
  }
}
.sf-arrow-right {
  &:before {
    content: $sf-arrow-right; 
  }
}
.sf-increase-chart {
  &:before {
    content: $sf-increase-chart; 
  }
}
.sf-profile {
  &:before {
    content: $sf-profile; 
  }
}
.sf-polygon {
  &:before {
    content: $sf-polygon; 
  }
}
.sf-minus-rounded-fill {
  &:before {
    content: $sf-minus-rounded-fill; 
  }
}
.sf-server {
  &:before {
    content: $sf-server; 
  }
}
.sf-border-corner {
  &:before {
    content: $sf-border-corner; 
  }
}
.sf-search-location {
  &:before {
    content: $sf-search-location; 
  }
}
.sf-dashboard {
  &:before {
    content: $sf-dashboard; 
  }
}
.sf-info {
  &:before {
    content: $sf-info; 
  }
}
.sf-search-rounded-fill {
  &:before {
    content: $sf-search-rounded-fill; 
  }
}
.sf-rel-monitoramento {
  &:before {
    content: $sf-rel-monitoramento; 
  }
}
.sf-north {
  &:before {
    content: $sf-north; 
  }
}
.sf-measure-square {
  &:before {
    content: $sf-measure-square; 
  }
}
.sf-search-file {
  &:before {
    content: $sf-search-file; 
  }
}
.sf-file-pdf {
  &:before {
    content: $sf-file-pdf; 
  }
}
.sf-velocimeter {
  &:before {
    content: $sf-velocimeter; 
  }
}
.sf-refresh {
  &:before {
    content: $sf-refresh; 
  }
}
.sf-rel-socioambiental {
  &:before {
    content: $sf-rel-socioambiental; 
  }
}
.sf-eraser {
  &:before {
    content: $sf-eraser; 
  }
}
.sf-help-rounded {
  &:before {
    content: $sf-help-rounded; 
  }
}
.sf-building {
  &:before {
    content: $sf-building; 
  }
}
.sf-strip-list {
  &:before {
    content: $sf-strip-list; 
  }
}
.sf-bell-alert {
  &:before {
    content: $sf-bell-alert; 
  }
}
.sf-change-profile {
  &:before {
    content: $sf-change-profile; 
  }
}
.sf-window {
  &:before {
    content: $sf-window; 
  }
}
.sf-cpf-search-1 {
  &:before {
    content: $sf-cpf-search-1; 
  }
}
.sf-geo-search-1 {
  &:before {
    content: $sf-geo-search-1; 
  }
}
.sf-pastagem {
  &:before {
    content: $sf-pastagem; 
  }
}
.sf-algodao {
  &:before {
    content: $sf-algodao; 
  }
}
.sf-cana {
  &:before {
    content: $sf-cana; 
  }
}
.sf-eucalipto {
  &:before {
    content: $sf-eucalipto; 
  }
}
.sf-milho {
  &:before {
    content: $sf-milho; 
  }
}
.sf-milho2 {
  &:before {
    content: $sf-milho2; 
  }
}
.sf-soja {
  &:before {
    content: $sf-soja; 
  }
}
.sf-citros {
  &:before {
    content: $sf-citros; 
  }
}
.sf-cafe {
  &:before {
    content: $sf-cafe; 
  }
}
.sf-home {
  &:before {
    content: $sf-home; 
  }
}
.sf-home2 {
  &:before {
    content: $sf-home2; 
  }
}
.sf-home3 {
  &:before {
    content: $sf-home3; 
  }
}
.sf-image {
  &:before {
    content: $sf-image; 
  }
}
.sf-copy {
  &:before {
    content: $sf-copy; 
  }
}
.sf-paste {
  &:before {
    content: $sf-paste; 
  }
}
.sf-stack {
  &:before {
    content: $sf-stack; 
  }
}
.sf-location {
  &:before {
    content: $sf-location; 
  }
}
.sf-location2 {
  &:before {
    content: $sf-location2; 
  }
}
.sf-compass {
  &:before {
    content: $sf-compass; 
  }
}
.sf-compass2 {
  &:before {
    content: $sf-compass2; 
  }
}
.sf-map {
  &:before {
    content: $sf-map; 
  }
}
.sf-map2 {
  &:before {
    content: $sf-map2; 
  }
}
.sf-history {
  &:before {
    content: $sf-history; 
  }
}
.sf-display {
  &:before {
    content: $sf-display; 
  }
}
.sf-laptop {
  &:before {
    content: $sf-laptop; 
  }
}
.sf-mobile {
  &:before {
    content: $sf-mobile; 
  }
}
.sf-mobile2 {
  &:before {
    content: $sf-mobile2; 
  }
}
.sf-floppy-disk {
  &:before {
    content: $sf-floppy-disk; 
  }
}
.sf-drive {
  &:before {
    content: $sf-drive; 
  }
}
.sf-database {
  &:before {
    content: $sf-database; 
  }
}
.sf-user {
  &:before {
    content: $sf-user; 
  }
}
.sf-users {
  &:before {
    content: $sf-users; 
  }
}
.sf-user-plus {
  &:before {
    content: $sf-user-plus; 
  }
}
.sf-user-minus {
  &:before {
    content: $sf-user-minus; 
  }
}
.sf-user-check {
  &:before {
    content: $sf-user-check; 
  }
}
.sf-user-tie {
  &:before {
    content: $sf-user-tie; 
  }
}
.sf-search {
  &:before {
    content: $sf-search; 
  }
}
.sf-zoom-in {
  &:before {
    content: $sf-zoom-in; 
  }
}
.sf-zoom-out {
  &:before {
    content: $sf-zoom-out; 
  }
}
.sf-enlarge {
  &:before {
    content: $sf-enlarge; 
  }
}
.sf-shrink {
  &:before {
    content: $sf-shrink; 
  }
}
.sf-wrench {
  &:before {
    content: $sf-wrench; 
  }
}
.sf-equalizer {
  &:before {
    content: $sf-equalizer; 
  }
}
.sf-equalizer2 {
  &:before {
    content: $sf-equalizer2; 
  }
}
.sf-cog {
  &:before {
    content: $sf-cog; 
  }
}
.sf-cogs {
  &:before {
    content: $sf-cogs; 
  }
}
.sf-pie-chart {
  &:before {
    content: $sf-pie-chart; 
  }
}
.sf-stats-dots {
  &:before {
    content: $sf-stats-dots; 
  }
}
.sf-stats-bars {
  &:before {
    content: $sf-stats-bars; 
  }
}
.sf-stats-bars2 {
  &:before {
    content: $sf-stats-bars2; 
  }
}
.sf-leaf {
  &:before {
    content: $sf-leaf; 
  }
}
.sf-meter {
  &:before {
    content: $sf-meter; 
  }
}
.sf-meter2 {
  &:before {
    content: $sf-meter2; 
  }
}
.sf-truck {
  &:before {
    content: $sf-truck; 
  }
}
.sf-road {
  &:before {
    content: $sf-road; 
  }
}
.sf-target {
  &:before {
    content: $sf-target; 
  }
}
.sf-list-numbered {
  &:before {
    content: $sf-list-numbered; 
  }
}
.sf-list {
  &:before {
    content: $sf-list; 
  }
}
.sf-list2 {
  &:before {
    content: $sf-list2; 
  }
}
.sf-sphere {
  &:before {
    content: $sf-sphere; 
  }
}
.sf-earth {
  &:before {
    content: $sf-earth; 
  }
}
.sf-eye {
  &:before {
    content: $sf-eye; 
  }
}
.sf-eye-plus {
  &:before {
    content: $sf-eye-plus; 
  }
}
.sf-eye-minus {
  &:before {
    content: $sf-eye-minus; 
  }
}
.sf-eye-blocked {
  &:before {
    content: $sf-eye-blocked; 
  }
}
.sf-loop2 {
  &:before {
    content: $sf-loop2; 
  }
}
.sf-file-pdf2 {
  &:before {
    content: $sf-file-pdf2; 
  }
}
.sf-logo-simfaz {
  &:before {
    content: $sf-logo-simfaz; 
  }
}
.sf-logo-simfaz-2 {
  &:before {
    content: $sf-logo-simfaz-2; 
  }
}

