$icomoon-font-path: "fonts" !default;

$sf-kml-file-format-interface: "\e900";
$sf-pencil-rounded-fill: "\f110";
$sf-trash: "\f118";
$sf-rel-diagnostico: "\f11e";
$sf-download: "\f10b";
$sf-plus-rounded-fill: "\f10a";
$sf-arrow-left: "\f11a";
$sf-world-coordinate: "\f123";
$sf-arrow-down: "\f108";
$sf-gear: "\f122";
$sf-location-plane: "\f120";
$sf-exclude-rounded-fill: "\f10c";
$sf-calendar: "\f10e";
$sf-measure: "\f105";
$sf-file-add: "\f10d";
$sf-arrow-right: "\f109";
$sf-increase-chart: "\f126";
$sf-profile: "\f121";
$sf-polygon: "\f11d";
$sf-minus-rounded-fill: "\f107";
$sf-server: "\f114";
$sf-border-corner: "\f101";
$sf-search-location: "\f129";
$sf-dashboard: "\f11c";
$sf-info: "\f104";
$sf-search-rounded-fill: "\f111";
$sf-rel-monitoramento: "\f115";
$sf-north: "\f100";
$sf-measure-square: "\f103";
$sf-search-file: "\f106";
$sf-file-pdf: "\f113";
$sf-velocimeter: "\f119";
$sf-refresh: "\f116";
$sf-rel-socioambiental: "\f112";
$sf-eraser: "\f128";
$sf-help-rounded: "\f125";
$sf-building: "\f11b";
$sf-strip-list: "\f124";
$sf-bell-alert: "\f11f";
$sf-change-profile: "\f102";
$sf-window: "\f127";
$sf-cpf-search-1: "\e909";
$sf-geo-search-1: "\e90a";
$sf-pastagem: "\e908";
$sf-algodao: "\e901";
$sf-cana: "\e902";
$sf-eucalipto: "\e903";
$sf-milho: "\e904";
$sf-milho2: "\e905";
$sf-soja: "\e906";
$sf-citros: "\e907";
$sf-cafe: "\e90e";
$sf-home: "\e90d";
$sf-home2: "\e90f";
$sf-home3: "\e910";
$sf-image: "\e911";
$sf-copy: "\e92c";
$sf-paste: "\e92d";
$sf-stack: "\e92e";
$sf-location: "\e947";
$sf-location2: "\e948";
$sf-compass: "\e949";
$sf-compass2: "\e94a";
$sf-map: "\e94b";
$sf-map2: "\e94c";
$sf-history: "\e94d";
$sf-display: "\e956";
$sf-laptop: "\e957";
$sf-mobile: "\e958";
$sf-mobile2: "\e959";
$sf-floppy-disk: "\e962";
$sf-drive: "\e963";
$sf-database: "\e964";
$sf-user: "\e971";
$sf-users: "\e972";
$sf-user-plus: "\e973";
$sf-user-minus: "\e974";
$sf-user-check: "\e975";
$sf-user-tie: "\e976";
$sf-search: "\e986";
$sf-zoom-in: "\e987";
$sf-zoom-out: "\e988";
$sf-enlarge: "\e989";
$sf-shrink: "\e98a";
$sf-wrench: "\e991";
$sf-equalizer: "\e992";
$sf-equalizer2: "\e993";
$sf-cog: "\e994";
$sf-cogs: "\e995";
$sf-pie-chart: "\e99a";
$sf-stats-dots: "\e99b";
$sf-stats-bars: "\e99c";
$sf-stats-bars2: "\e99d";
$sf-leaf: "\e9a4";
$sf-meter: "\e9a6";
$sf-meter2: "\e9a7";
$sf-truck: "\e9b0";
$sf-road: "\e9b1";
$sf-target: "\e9b3";
$sf-list-numbered: "\e9b9";
$sf-list: "\e9ba";
$sf-list2: "\e9bb";
$sf-sphere: "\e9c9";
$sf-earth: "\e9ca";
$sf-eye: "\e9ce";
$sf-eye-plus: "\e9cf";
$sf-eye-minus: "\e9d0";
$sf-eye-blocked: "\e9d1";
$sf-loop2: "\ea2e";
$sf-file-pdf2: "\eadf";
$sf-logo-simfaz: "\e90b";
$sf-logo-simfaz-2: "\e90c";

